
<section class= "container-fluid author-info">
  <h3> Add Book </h3>
  <form class="form" action="/add-book" method="post">
    <fieldset class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" value="{{data.title}}"  placeholder="Enter title" name= "title">
    </fieldset>
    <fieldset class="form-group">
      <label for="genre">Genre</label>
      <input type="text" class="form-control" value="{{data.genre}}"  placeholder="Enter genre" name= 'genre'>
    </fieldset>
    <fieldset class="form-group">
      <label for="cover">Book cover URL</label>
      <input type="text" class="form-control" value="{{data.cover}}"  placeholder="Enter book url for cover" name= "cover">
    </fieldset>
    <fieldset class="form-group">
      <label for="description">{{data.title}} description:</label>
      <textarea class="form-control"  rows="3" name="biography" placeholder="add discription">{{data.description}}</textarea>
    </fieldset>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>
