
    <section class="book-author-info">
            <p> Author: {{data.first_name}} {{data.last_name}}</p>
            <div class="author-img">
                <img class="author-img" src="{{data.portrait}}" alt="book img" />
            </div>
            <p>Author biography: {{data.biography}} </p>
            <button type="button">
       <a href="/{{data.id}}/delete-author">Delete author {{data.first_name}} {{data.last_name}}</a>
       </button>
    </section>


<form class="form" action="/{{data.id}}/author-info" method="post">
  <h3>Edit {{data.first_name}} {{data.last_name}} info</h3>
  <label for="first_name"> Author First Name: <br>
<input type='text' name="first_name" value="{{data.first_name}}" >
</label><br>
<label for="last_name"> Author last Name: <br>
<input type='text' name="last_name" value="{{data.last_name}}" >
</label><br>
<label for="portrait"> Author portrait: <br>
<input type='text' name="portrait" value="{{data.portrait}}" >
</label><br>
<lable for="biography">Author biography: <br>
<textarea name="biography">{{data.biography}}</textarea>
</label><br> <br>
  <button type="submit">edit author info</button>
</form>
