<!-- {{#each book}}
    <section class="book-author-info">
        <h4> title: {{this.title}}</h4>
        <div class="book-author">
            <div class="book-img">
                <img class="book-img" src="{{this.cover}}" alt="book img" />
            </div>
            <p> Author: {{this.first_name}} {{this.last_name}} {{book.id}}</p>
            <div class="author-img">
                <img class="author-img" src="{{this.portrait}}" alt="book img" />
            </div>
            <p> Genre: {{this.genre}}</p>
            <p>Book description: {{this.description}} </p>
        </div>
    </section>
{{/each}} -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-xs-12 ">
            <a href="/book">
                <img class="landing-img" src="http://az616578.vo.msecnd.net/files/2015/11/26/635841049393339322-1773368249_o-PILE-OF-BOOKS-facebook.jpg" alt="" />
            </a>
        </div>
        <div class="col-md-6 col-xs-12">
            <a href="/author">
                <img class='landing-img' src="http://www.londonbookfair.co.uk/RXUK/RXUK_LondonBookFair/LBF%202015/Images/Author%20680%20x%20300.jpg?v=635599704170356154" alt="" />
            </a>
        </div>
    </div>
</div>
